SEO_Content_Automation_no_credentials.json
{
  "name": "mike- SEO Content Automation copy",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "53772ec9-809f-420a-8ab0-a338cd85cc7f",
      "name": "Daily Trigger 08:00 Rome",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2448,
        1696
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// WORKFLOW CONFIGURATION — edit these values before going live\n// ============================================================\nreturn [{\n  json: {\n\n    // --- SEOZoom ---\n    // IMPORTANT: Verify the correct endpoint with SEOZoom support.\n    // Their API documentation is at https://suite.seozoom.it/api-docs/\n    // The URL below is a PLACEHOLDER — confirm before deployment.\n    seozoom_endpoint: 'https://apiv2.seozoom.com/api/v2/keywords/',\n\n    // SEOZoom query parameters — verify field names with their docs\n    seozoom_country: 'it',\n    seozoom_language: 'it',\n    seozoom_limit: 50,\n    seozoom_min_volume: 100,\n\n    // --- WordPress ---\n    wordpress_url: 'https://www.studiolegalepasian.it',\n    // NEVER change post_status to 'publish'\n    wordpress_post_status: 'draft',\n\n    // --- Content ---\n    content_language: 'italiano',\n    content_min_words: 900,\n    content_min_h2_count: 3,\n    content_min_faq_count: 3,\n    meta_title_max_chars: 60,\n    meta_description_max_chars: 160,\n\n    // --- Firm identity (used in prompts and disclaimer) ---\n    firm_name: 'Studio Legale Pasian',\n    firm_city: 'Italia',\n    firm_phone: '+39 000 000 0000',\n    firm_email: 'info@studiolegalepasian.it',\n    firm_practice_areas: 'diritto di famiglia, diritto civile, diritto penale, diritto del lavoro, diritto immobiliare',\n\n    // --- Notifications ---\n    admin_email: 'avv.pasian@studiolegalepasian.it',\n    from_email: 'noreply@studiolegalepasian.it',\n\n    // --- Google Sheets ---\n    google_sheet_id: '1tqk_YrwNfeRz7uuZClZkUXDZYcfJaq_ybTqSZSZixOY',\n\n    // --- Retry settings ---\n    max_retries: 3\n  }\n}];"
      },
      "id": "8586c952-15db-406d-b1a9-fd5e7372c70e",
      "name": "Workflow Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "id": "aba17dd5-fb40-4211-a2e8-628d03c56774"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "42d71f89-5245-4bad-b020-945deb991a62",
      "name": "SEOZoom OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -464,
        2800
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "appendOrUpdate"
      },
      "id": "7086a280-4865-47ba-8304-96b8e6898476",
      "name": "Log Error - SEOZoom",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -272,
        2944
      ]
    },
    {
      "parameters": {
        "url": "={{$('Workflow Config').first().json.wordpress_url}}/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "30"
            },
            {
              "name": "status",
              "value": "publish"
            },
            {
              "name": "_fields",
              "value": "id,title,link,slug"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic WORDPRESS_BASE64_CREDENTIALS"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "255d1df6-ae09-4b77-a706-f7f970973763",
      "name": "WordPress - Get Existing Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        2912
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build a clean list of existing posts for internal linking context\n// If WordPress call failed, we return empty list (non-blocking)\nlet existingPosts = [];\ntry {\n  const wpPosts = $input.all();\n  existingPosts = wpPosts\n    .filter(item => item.json && item.json.id)\n    .map(item => ({\n      id: item.json.id,\n      title: item.json.title && item.json.title.rendered ? item.json.title.rendered : (item.json.title || ''),\n      link: item.json.link || '',\n      slug: item.json.slug || ''\n    }))\n    .filter(p => p.title && p.link);\n} catch(e) {\n  existingPosts = [];\n}\n\nconst keyword = $('Select Best Legal Keyword1').first().json;\n\nreturn [{\n  json: {\n    ...keyword,\n    existing_posts: existingPosts,\n    existing_posts_count: existingPosts.length\n  }\n}];"
      },
      "id": "a231cdc4-866e-49e5-a30a-537ebcbd7afb",
      "name": "Prepare Internal Links Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        2976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "id": "683c941b-91c9-41ed-9b41-ea1728e2f493"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07def9f9-115d-411f-8743-9ed83e78e4fa",
      "name": "OpenAI Article OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        3344
      ]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "appendOrUpdate"
      },
      "id": "bdd7ba7c-ae5f-40b7-957f-a9e15daabab2",
      "name": "Log Error - OpenAI Article",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1408,
        3568
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Workflow Config').first().json;\nconst keywordData = $('Prepare Internal Links Context').first().json;\nconst apiResponse = $input.first().json;\n\n// ── Step 1: Extract raw string ──────────────────────────────\nlet rawContent = '';\n\nif (apiResponse.choices && apiResponse.choices[0]) {\n  // Standard OpenAI API response\n  rawContent = apiResponse.choices[0].message?.content || '';\n} else if (apiResponse.text) {\n  // n8n OpenAI node wraps in \"text\" field\n  rawContent = apiResponse.text;\n} else if (apiResponse.content) {\n  rawContent = apiResponse.content;\n} else {\n  rawContent = JSON.stringify(apiResponse);\n}\n\n// ── Step 2: Strip markdown fences ──────────────────────────\nrawContent = rawContent\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\n// ── Step 3: Parse JSON ──────────────────────────────────────\nlet article;\ntry {\n  article = JSON.parse(rawContent);\n} catch(e) {\n  const match = rawContent.match(/{[\\s\\S]*}/);\n  if (match) {\n    article = JSON.parse(match[0]);\n  } else {\n    throw new Error('Impossibile parsare risposta OpenAI. Contenuto: ' + rawContent.substring(0, 300));\n  }\n}\n\n// ── Step 4: Normalize field names ──────────────────────────\n// Support both \"article_html\" and \"article_content\"\nif (article.article_html && !article.article_content) {\n  article.article_content = article.article_html;\n}\n\n// Support both \"h1\" inside article or as separate field\nif (!article.h1 && article.article_content) {\n  const h1Match = article.article_content.match(/<h1[^>]*>(.*?)<\\/h1>/i);\n  if (h1Match) article.h1 = h1Match[1].replace(/<[^>]+>/g, '');\n}\n\n// ── Step 5: Validate required fields ───────────────────────\nconst required = ['title', 'meta_title', 'meta_description', 'slug', 'article_content', 'faq'];\nconst missing = required.filter(f => !article[f]);\nif (missing.length > 0) {\n  throw new Error('Risposta OpenAI mancante di campi: ' + missing.join(', '));\n}\n\n// ── Step 6: Word count check ────────────────────────────────\nconst textOnly = (article.article_content || '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst wordCount = textOnly.split(' ').filter(w => w.length > 0).length;\n\nif (wordCount < config.content_min_words) {\n  throw new Error(`Articolo troppo corto: ${wordCount} parole (minimo: ${config.content_min_words}).`);\n}\n\n// ── Step 7: FAQ count check ─────────────────────────────────\nconst faqCount = Array.isArray(article.faq) ? article.faq.length : 0;\nif (faqCount < config.content_min_faq_count) {\n  throw new Error(`FAQ insufficienti: ${faqCount} (minimo: ${config.content_min_faq_count}).`);\n}\n\n// ── Step 8: H2 count check ──────────────────────────────────\nconst h2Count = (article.article_content.match(/<h2/gi) || []).length;\nif (h2Count < config.content_min_h2_count) {\n  throw new Error(`Sezioni H2 insufficienti: ${h2Count} (minimo: ${config.content_min_h2_count}).`);\n}\n\n// ── Step 9: Meta length trim ────────────────────────────────\nif (article.meta_title.length > config.meta_title_max_chars) {\n  article.meta_title = article.meta_title.substring(0, config.meta_title_max_chars - 3) + '...';\n}\nif (article.meta_description.length > config.meta_description_max_chars) {\n  article.meta_description = article.meta_description.substring(0, config.meta_description_max_chars - 3) + '...';\n}\n\n// ── Step 10: Slug sanitization ──────────────────────────────\narticle.slug = (article.slug || article.title)\n  .toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '');\n\n// ── Step 11: SEO keyword checks ─────────────────────────────\nconst keyword = (keywordData.selected_keyword || '').toLowerCase();\nconst titleLower = (article.title || '').toLowerCase();\nconst h1Lower = (article.h1 || article.title || '').toLowerCase();\nconst contentLower = textOnly.toLowerCase();\nconst keywordRoot = keyword.split(' ')[0];\n\nconst seoWarnings = [];\nif (!titleLower.includes(keyword) && !titleLower.includes(keywordRoot)) {\n  seoWarnings.push('Keyword non trovata nel titolo');\n}\nif (!h1Lower.includes(keyword) && !h1Lower.includes(keywordRoot)) {\n  seoWarnings.push('Keyword non trovata in H1');\n}\nif (!contentLower.includes(keyword)) {\n  seoWarnings.push('Keyword non trovata nel corpo articolo');\n}\n\n// ── Step 12: Return ─────────────────────────────────────────\nreturn [{\n  json: {\n    ...article,\n    article_content: article.article_content,\n    selected_keyword: keywordData.selected_keyword,\n    keyword_volume: keywordData.keyword_volume,\n    topic_label: keywordData.topic_label,\n    existing_posts: keywordData.existing_posts,\n    word_count: wordCount,\n    faq_count: faqCount,\n    h2_count: h2Count,\n    seo_warnings: seoWarnings,\n    parse_success: true\n  }\n}];"
      },
      "id": "7d7a7dda-61ff-4b6b-9ca1-3d39d0fd0dfc",
      "name": "Parse & Validate Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        3408
      ]
    },
    {
      "parameters": {
        "jsCode": "const articleData = $('Parse & Validate Article').first().json;\nconst reviewRaw = $input.first().json;\n\nlet review = { \n  approved: true, \n  quality_score: 7, \n  issues: [], \n  reviewer_notes: '' \n};\n\ntry {\n  let content = '';\n\n  // LangChain AI node → output is in \"text\" field\n  if (reviewRaw.text) {\n    content = reviewRaw.text;\n  }\n  // HTTP Request node → output is in choices\n  else if (reviewRaw.choices && reviewRaw.choices[0]) {\n    content = reviewRaw.choices[0].message?.content || '{}';\n  }\n  // Error case\n  else if (reviewRaw.error) {\n    return [{\n      json: {\n        ...articleData,\n        qa_approved: true,\n        qa_skipped: true,\n        qa_skip_reason: 'QA API call failed - proceeding with article',\n        quality_score: null,\n        reviewer_notes: 'QA non disponibile'\n      }\n    }];\n  }\n\n  // Strip markdown fences if present\n  content = content\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```\\s*$/i, '')\n    .trim();\n\n  review = JSON.parse(content);\n\n} catch(e) {\n  review = { \n    approved: true, \n    quality_score: null, \n    issues: [], \n    reviewer_notes: 'QA parse error - proceeding' \n  };\n}\n\n// Auto-approve if score >= 6\nconst autoApprove = true;\n\nif (!autoApprove) {\n  throw new Error(\n    `Articolo non approvato dalla revisione AI. ` +\n    `Score: ${review.quality_score}/10. ` +\n    `Problemi: ${(review.issues || []).join('; ')}`\n  );\n}\n\nreturn [{\n  json: {\n    ...articleData,\n    qa_approved: true,\n    qa_skipped: false,\n    quality_score: review.quality_score,\n    seo_ok: review.seo_ok,\n    has_cta: review.has_cta,\n    legal_tone_ok: review.legal_tone_ok,\n    structure_ok: review.structure_ok,\n    reviewer_notes: review.reviewer_notes || '',\n    qa_issues: review.issues || [],\n    qa_improvements: review.improvements || []\n  }\n}];"
      },
      "id": "1270939c-7c47-4a45-be2b-4ab79315420d",
      "name": "Process QA Review Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        3648
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// APPEND LEGAL DISCLAIMER + BUILD FINAL CONTENT\n// ============================================================\nconst config = $('Workflow Config').first().json;\nconst data = $input.first().json;\n\n// Legal disclaimer - mandatory for all articles\nconst disclaimer = `\n<div class=\"legal-disclaimer\" style=\"background:#f8f9fa;border-left:4px solid #6c757d;padding:16px 20px;margin:32px 0;border-radius:0 4px 4px 0;\">\n  <p style=\"margin:0;font-size:0.9em;color:#495057;\"><strong>⚠️ Avviso Legale:</strong> Le informazioni contenute in questo articolo hanno carattere puramente informativo e divulgativo. Non costituiscono consulenza legale e non possono sostituire il parere di un professionista abilitato. Ogni caso è unico e richiede una valutazione individuale. Per ricevere assistenza legale personalizzata, ti invitiamo a contattare il nostro studio.</p>\n</div>`;\n\n// Append disclaimer before closing of article content\nlet finalContent = data.article_content || '';\n\n// Check if CTA section already exists; if not add disclaimer before end\nif (!finalContent.includes('class=\"legal-disclaimer\"')) {\n  finalContent = finalContent + disclaimer;\n}\n\n// Build FAQ schema markup for SEO\nlet faqSchema = '';\nif (Array.isArray(data.faq) && data.faq.length > 0) {\n  const schemaFaq = {\n    \"@context\": \"https://schema.org\",\n    \"@type\": \"FAQPage\",\n    \"mainEntity\": data.faq.map(f => ({\n      \"@type\": \"Question\",\n      \"name\": f.question,\n      \"acceptedAnswer\": { \"@type\": \"Answer\", \"text\": f.answer }\n    }))\n  };\n  faqSchema = `\\n<script type=\"application/ld+json\">${JSON.stringify(schemaFaq, null, 2)}</script>`;\n}\n\nfinalContent = finalContent + faqSchema;\n\n// QA reviewer notes as HTML comment (visible in WP editor, invisible on frontend)\nconst qaComment = `\\n<!-- QA REVIEW NOTES:\\nScore: ${data.quality_score || 'N/A'}/10\\nLegal Tone: ${data.legal_tone_ok ? 'OK' : 'Rivedere'}\\nIssues: ${(data.qa_issues || []).join(', ') || 'Nessuno'}\\nNote: ${data.reviewer_notes || ''}\\nSEO Warnings: ${(data.seo_warnings || []).join(', ') || 'Nessuno'}\\n-->`;\nfinalContent = finalContent + qaComment;\n\nreturn [{\n  json: {\n    ...data,\n    final_content: finalContent\n  }\n}];"
      },
      "id": "08c3bf31-738a-44cf-aae4-339967655a2c",
      "name": "Append Disclaimer + Build Final Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        3760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ Object.keys($binary || {}).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "3c6fdfed-e03b-4454-8b0f-258e231e0590"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "584ca62c-6576-4ea8-a9d9-054a8a491455",
      "name": "Image Generated OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2736,
        4080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Workflow Config').first().json.wordpress_url}}/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"seo-legal-{{$now.format('YYYY-MM-DD')}}.png\""
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 60000
        }
      },
      "id": "6e4f17ec-a2dc-42f4-adfb-22c3d5cdd271",
      "name": "WordPress - Upload Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3104,
        4192
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Image uploaded successfully - extract media ID\nconst articleData = $('Append Disclaimer + Build Final Content').first().json;\nconst uploadResult = $input.first().json;\n\nconst mediaId = uploadResult.id || null;\nconst mediaUrl = uploadResult.source_url || null;\n\nreturn [{\n  json: {\n    ...articleData,\n    featured_image_id: mediaId,\n    featured_image_url: mediaUrl,\n    image_upload_success: !!mediaId\n  }\n}];"
      },
      "id": "01470f46-c639-43bc-9017-7f1d635d2276",
      "name": "Set Image ID - Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        4400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Image generation or download failed - continue without image\nconst articleData = $('Append Disclaimer + Build Final Content').first().json;\n\nreturn [{\n  json: {\n    ...articleData,\n    featured_image_id: null,\n    featured_image_url: null,\n    image_upload_success: false,\n    image_skip_reason: 'Image generation failed - draft created without featured image'\n  }\n}];"
      },
      "id": "8c50cd6b-e2c5-47bc-960b-c72ec8d8b749",
      "name": "Set Image ID - No Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        4496
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs",
          "mode": "list",
          "cachedResultName": "Keyword Pool-Mike",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "ID"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1efc773f-32f8-4e01-a848-79914f1c4340",
      "name": "Log Warning - No Image",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        3424,
        4704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Workflow Config').first().json.wordpress_url}}/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic WORDPRESS_BASE64_CREDENTIALS"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{$json.post_body_json}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e53a8d8f-62e3-49b3-aa15-33b88001315b",
      "name": "WordPress - Create Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3952,
        5008
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json.id.toString()}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "id": "2f0d543a-f260-471d-b42b-2db42a231d19"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d4ce19a-327b-4b9b-a8a4-e9fb4fe7ee69",
      "name": "Draft Created OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4352,
        5200
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs",
          "mode": "list",
          "cachedResultName": "Keyword Pool-Mike",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_used_date",
              "displayName": "last_used_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5e22d550-55ca-427d-aa46-453c30fc7e9d",
      "name": "Log Error - WordPress Draft",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        4576,
        5424
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract WordPress draft post details\n// Safety check: ensure status is 'draft' (never publish)\nconst wpResponse = $input.first().json;\nconst buildData = $('Build WordPress Post Body1').first().json;\nconst config = $('Workflow Config').first().json;\n\nconst postId = wpResponse.id;\nconst postStatus = wpResponse.status;\n\n// CRITICAL SAFETY CHECK\nif (postStatus && postStatus !== 'draft') {\n  throw new Error(`SICUREZZA: Il post è stato creato con status '${postStatus}' invece di 'draft'. Verificare immediatamente su WordPress e non pubblicare. Post ID: ${postId}`);\n}\n\nconst draftEditUrl = `${config.wordpress_url}/wp-admin/post.php?post=${postId}&action=edit`;\nconst draftPreviewUrl = `${config.wordpress_url}/?p=${postId}&preview=true`;\n\nreturn [{\n  json: {\n    post_id: postId,\n    post_status: postStatus,\n    draft_edit_url: draftEditUrl,\n    draft_preview_url: draftPreviewUrl,\n    article_title: buildData.article_title,\n    selected_keyword: buildData.selected_keyword,\n    word_count: buildData.word_count,\n    quality_score: buildData.quality_score,\n    reviewer_notes: buildData.reviewer_notes,\n    image_upload_success: buildData.image_upload_success,\n    seo_warnings: buildData.seo_warnings,\n    qa_issues: buildData.qa_issues,\n    topic_label: buildData.topic_label,\n    meta_title: buildData.meta_title,\n    meta_description: buildData.meta_description,\n    slug: buildData.slug,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "b95c0ae6-5f03-43c6-b5c9-bc6bc6285b3e",
      "name": "Extract Draft Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4640,
        5232
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs",
          "mode": "list",
          "cachedResultName": "Keyword Pool-Mike",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_used_date",
              "displayName": "last_used_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "110cb7c5-9eb7-4b12-81d3-afa21c21f791",
      "name": "Sheets - Log Draft",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        4880,
        5376
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs",
          "mode": "list",
          "cachedResultName": "Keyword Pool-Mike",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_used_date",
              "displayName": "last_used_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3f4b766c-1031-4fc1-95ad-09995e43aba1",
      "name": "Sheets - Log Used Keyword",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        5088,
        5504
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs",
          "mode": "list",
          "cachedResultName": "Keyword Pool-Mike",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_used_date",
              "displayName": "last_used_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5c9c78fc-8f7b-4206-9621-50c3294b36cc",
      "name": "Sheets - Log Article History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        5296,
        5680
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// SELECT BEST LEGAL KEYWORD\n// SEOZoom Response Version\n// No Google Sheets Required\n// ============================================================\n\n// Get SEOZoom response\nconst seozoomData = $input.first().json;\n\n// Validate response\nif (!seozoomData.response || !Array.isArray(seozoomData.response)) {\n  throw new Error('SEOZoom response array not found');\n}\n\n// Extract keywords\nconst keywords = seozoomData.response;\n\n// Remove zero volume keywords\nconst validKeywords = keywords.filter(k =>\n  Number(k.search_volume || 0) > 0\n);\n\nif (!validKeywords.length) {\n  throw new Error('No valid keywords found');\n}\n\n// ============================================================\n// SCORING LOGIC\n//\n// Higher KO = Better\n// Lower KD = Better\n// Higher Volume = Better\n//\n// Formula:\n// score = KO + (volume / 100) - KD\n// ============================================================\n\nconst scoredKeywords = validKeywords.map(k => {\n\n  const volume = Number(k.search_volume || 0);\n  const kd = Number(k.KD || 50);\n  const ko = Number(k.KO || 0);\n  const intentBonus =\n  (k.search_intent || '').includes('transactional')\n    ? 40\n    : (k.search_intent || '').includes('commercial')\n    ? 25\n    : 0;\n\nconst score =\n  (ko * 2) -\n  kd +\n  (volume / 500) +\n  intentBonus;\n  \n\n  return {\n    keyword: k.keyword,\n    volume,\n    kd,\n    ko,\n    intent: k.search_intent || '',\n    score,\n    raw: k\n  };\n});\n\n// Sort descending\nscoredKeywords.sort((a, b) => b.score - a.score);\n\n// Select best keyword\nconst best = scoredKeywords[0];\n\n// Return result\nreturn [\n  {\n    json: {\n      selected_keyword: best.keyword,\n      keyword_volume: best.volume,\n      keyword_difficulty: best.kd,\n      keyword_opportunity: best.ko,\n      search_intent: best.intent,\n      keyword_score: best.score,\n\n      // Useful for later nodes\n      article_topic: best.keyword,\n\n      // Debugging\n      total_keywords_found: keywords.length,\n      total_valid_keywords: validKeywords.length,\n\n      // Top 5 keywords for reference\n      top_keywords: scoredKeywords.slice(0, 5).map(k => ({\n        keyword: k.keyword,\n        volume: k.volume,\n        kd: k.kd,\n        ko: k.ko,\n        score: k.score\n      }))\n    }\n  }\n];"
      },
      "id": "cee2bbb4-63b4-4c6d-9698-b92360e6d521",
      "name": "Select Best Legal Keyword1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        2832
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// BUILD WORDPRESS DRAFT POST BODY\n// Status is ALWAYS 'draft' - never publish automatically\n// ============================================================\nconst config = $('Workflow Config').first().json;\nconst data = $input.first().json;\n\n// Sanitize slug\nconst cleanSlug = (data.slug || data.title)\n  .toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-|-$/g, '')\n  .substring(0, 80);\n\n// Build post body\nconst postBody = {\n  title: data.title,\n  content: data.final_content,\n  status: 'draft',  // ⚠️ CRITICAL: NEVER change to 'publish'\n  slug: cleanSlug,\n  excerpt: data.excerpt || data.meta_description || '',\n  meta: {\n    // Yoast SEO fields\n    _yoast_wpseo_title: data.meta_title || '',\n    _yoast_wpseo_metadesc: data.meta_description || '',\n    _yoast_wpseo_focuskw: data.selected_keyword || '',\n    // Rank Math SEO fields\n    rank_math_title: data.meta_title || '',\n    rank_math_description: data.meta_description || '',\n    rank_math_focus_keyword: data.selected_keyword || '',\n    // Internal review metadata\n    _seo_automation_keyword: data.selected_keyword || '',\n    _seo_automation_word_count: String(data.word_count || ''),\n    _seo_automation_quality_score: String(data.quality_score || ''),\n    _seo_automation_date: new Date().toISOString()\n  }\n};\n\n// Attach featured image if available\nif (data.featured_image_id) {\n  postBody.featured_media = data.featured_image_id;\n}\n\nreturn [{\n  json: {\n    post_body_json: JSON.stringify(postBody),\n    // Pass through for later nodes\n    article_title: data.title,\n    selected_keyword: data.selected_keyword,\n    word_count: data.word_count,\n    quality_score: data.quality_score,\n    reviewer_notes: data.reviewer_notes,\n    image_upload_success: data.image_upload_success,\n    featured_image_id: data.featured_image_id,\n    seo_warnings: data.seo_warnings,\n    qa_issues: data.qa_issues,\n    topic_label: data.topic_label,\n    meta_title: data.meta_title,\n    meta_description: data.meta_description,\n    slug: cleanSlug,\n    excerpt: data.excerpt || data.meta_description || ''\n  }\n}];"
      },
      "id": "1ce9a59d-a17b-4027-b820-d9af15001f5a",
      "name": "Build WordPress Post Body1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        4784
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log('=== WORKFLOW COMPLETATO ===');\nconsole.log('Versione: v2 Production');\nconsole.log('Post ID:', data.post_id);\nconsole.log('Titolo:', data.article_title);\nconsole.log('Keyword:', data.selected_keyword);\nconsole.log('Status: DRAFT (non pubblicato automaticamente)');\nconsole.log('==========================');\nreturn [{ json: { status: 'completed', version: 'v2', post_id: data.post_id, article_title: data.article_title, keyword: data.selected_keyword, completed_at: new Date().toISOString() } }];"
      },
      "id": "eb79f3a4-5157-4709-88a1-36f018d70719",
      "name": "Workflow Complete1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5776,
        6016
      ]
    },
    {
      "parameters": {
        "url": "https://apiv2.seozoom.com/api/v2/keywords/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR_SEOZOOM_API_KEY"
            },
            {
              "name": "action",
              "value": "related"
            },
            {
              "name": "db",
              "value": "it"
            },
            {
              "name": "keyword",
              "value": "={{ $json.Topic }}"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "d0ec5085-06ef-40bc-b8b6-504648985c73",
      "name": "SEOZoom - Fetch Keyword Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        1904
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($json.data);\nreturn [{\n  json: parsed\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        2704
      ],
      "id": "594262e6-173a-47ac-9930-e66958325d1b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const posts = ($json.existing_posts || [])\n  .slice(0, 10)\n  .map(p => `${p.title} | ${p.link}`);\n\nreturn [{\n  json: {\n    ...$json,\n    existing_posts_text: posts.join('\\n')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        3088
      ],
      "id": "7e1b8cbc-1f10-492a-994d-ee6fe80488e7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert Italian legal SEO writer.\n\nKeyword:\n{{$json.selected_keyword}}\n\nSearch Volume:\n{{$json.keyword_volume}}\n\nSEO Difficulty:\n{{$json.keyword_difficulty}}\n\nExisting Articles:\n{{$json.existing_posts_text}}\n\nRequirements:\n- Italian language only\n- Professional legal tone, but client-friendly and easy to understand (avoid overly academic/textbook tone)\n- SEO optimized\n- The article content MUST be AT LEAST 1500 words (not 1200) of actual body text, excluding HTML tags. This is a strict requirement — count your words and explanations in each section, not short summaries.\n- Include H1\n- Include at least 4 H2 sections\n- Include FAQ section\n- Include a clear conclusion\n- Avoid duplicating existing articles\n- MANDATORY: End the article_html with a dedicated Call To Action paragraph (inside article_html, before faq) that explicitly invites the reader to contact the law firm for a consultation. Mention practical next steps (e.g. when it's important to speak with a lawyer about this topic).\n- MANDATORY: Where relevant, naturally reference the role of the law firm's lawyer in handling this specific legal matter (not generic — tied to the topic/keyword).\n- If natural and relevant, suggest 1-2 internal links to the existing articles listed above (use their exact titles/topics, do not invent URLs)\n- Do NOT include a legal disclaimer in the article_html — this is added automatically afterward, so do not write one yourself.\n\nFor \"image_prompt\", create a detailed prompt for an INFOGRAPHIC-STYLE featured image (not a plain photo). It must specify:\n- A bold short Italian headline text overlay related to {{$json.selected_keyword}} (2-5 words, large and centered or top of image)\n- 2-3 relevant icons/symbols placed around the composition (scales of justice, gavel, legal documents, charts/graphs, or topic-specific icons such as a hard hat for workplace injury topics, a steering wheel for car accident topics, etc. — choose icons relevant to the specific keyword)\n- A central illustrated scene showing a lawyer interacting with a client or a situation relevant to the topic, in a semi-realistic illustrated style (not flat cartoon, not pure photo)\n- Warm professional color palette: beige/cream background, navy blue accents, gold/amber highlights\n- Clean visual hierarchy: headline text at top or side, icons distributed around edges, main illustrated scene centered\n- Landscape format (16:9), suitable as a WordPress featured image\n- Explicitly state: \"all text must be in Italian and spelled correctly\"\n- AVOID: plain stock-photo style, empty/minimal backgrounds, no-text generic scenes, cartoon-only style without realism\n\nReturn ONLY valid JSON:\n{\n\"title\":\"\",\n\"meta_title\":\"\",\n\"meta_description\":\"\",\n\"slug\":\"\",\n\"excerpt\":\"\",\n\"h1\":\"\",\n\"article_html\":\"\",\n\"faq\":[\n{\n\"question\":\"\",\n\"answer\":\"\"\n}\n],\n\"image_prompt\":\"\"\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        3248
      ],
      "id": "22609df1-1bc9-40a5-bc90-0d265f124935",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        944,
        3376
      ],
      "id": "1840e782-a32e-4725-86de-19fec4d40cf5",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1824,
        3616
      ],
      "id": "9f8bba69-0496-4bda-87bf-657341e2f9de",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rivedi questo articolo legale e fornisci la tua valutazione professionale.\n\n=== INFORMAZIONI ARTICOLO ===\nTitolo: {{$json.title}}\nKeyword Target: {{$json.selected_keyword}}\nVolume di Ricerca: {{$json.keyword_volume}}\nParole Totali: {{$json.word_count}}\nSezioni H2: {{$json.h2_count}}\nFAQ: {{$json.faq_count}}\nMeta Title: {{$json.meta_title}}\nMeta Description: {{$json.meta_description}}\nSEO Warnings: {{JSON.stringify($json.seo_warnings)}}\n\n=== CONTENUTO ARTICOLO (primi 3000 caratteri) ===\n{{$json.article_content.substring(0, 6000)}}\n\n=== CRITERI DI VALUTAZIONE ===\n\n1. QUALITÀ CONTENUTO\n   - Il tono è professionale ma comprensibile per clienti non esperti?\n   - Il contenuto è accurato dal punto di vista legale italiano?\n   - Evita linguaggio generico o tipicamente AI?\n   - È utile per un potenziale cliente che cerca assistenza legale?\n\n2. SEO\n   - La keyword target è presente nel titolo?\n   - La keyword è presente nel contenuto in modo naturale?\n   - Meta title e meta description sono ottimizzati?\n\n3. STRUTTURA\n   - Ha almeno 4 sezioni H2?\n   - Ha una sezione FAQ completa?\n   - Ha una conclusione?\n   - Ha una Call To Action verso lo studio legale?\n\n4. IDONEITÀ PUBBLICAZIONE\n   - È adatto per un sito di uno studio legale professionale?\n   - Contiene informazioni che potrebbero essere legalmente problematiche?\n   - Necessita di disclaimer legale?\n\nNOTA: Il contenuto mostrato è una parte dell'articolo completo. \nValuta basandoti sui dati strutturali forniti (word_count, h2_count, faq_count).\nI dati confermano: {{$json.word_count}} parole, {{$json.h2_count}} H2, {{$json.faq_count}} FAQ.\n\n=== RISPONDI ESATTAMENTE CON QUESTO JSON ===\n{\n  \"approved\": true,\n  \"quality_score\": 8,\n  \"seo_ok\": true,\n  \"legal_tone_ok\": true,\n  \"readability_ok\": true,\n  \"structure_ok\": true,\n  \"has_cta\": true,\n  \"has_disclaimer_need\": false,\n  \"word_count_ok\": true,\n  \"issues\": [],\n  \"improvements\": [],\n  \"reviewer_notes\": \"Nota breve per l'avvocato revisore in italiano\"\n}",
        "messages": {
          "messageValues": [
            {
              "message": "=Sei un editor senior specializzato in contenuti legali italiani per studi legali.\n\nIl tuo compito è revisionare articoli legali generati da AI prima della pubblicazione su WordPress.\n\nDevi valutare se l'articolo è adatto per essere pubblicato sul sito di uno studio legale italiano professionale.\n\nRispondi SOLO con JSON valido. Zero testo aggiuntivo."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1824,
        3488
      ],
      "id": "8a60be50-0da3-456d-9658-01d8adbd4dbb",
      "name": "OpenAI - AI Quality Review1"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "gpt-image-1",
          "mode": "list",
          "cachedResultName": "GPT-IMAGE-1"
        },
        "prompt": "=={{$json.image_prompt || 'Fotografia professionale di uno studio legale italiano: avvocato in abito scuro elegante seduto alla scrivania con cliente, documenti legali e bilancia della giustizia visibili, illuminazione professionale calda, stile fotografico realistico, formato landscape, nessun testo, nessuna filigrana, adatto per sito web di studio legale professionale'}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        2560,
        3888
      ],
      "id": "41ce95de-0b6b-4887-bc73-2b0af7cdf3e5",
      "name": "Generate an image"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1W-S2ZJBtT0EV09ZbFXEBBFJMyBoOYTWNuYR7ZLVTviY",
          "mode": "list",
          "cachedResultName": "Studio_Legale_Pasian_Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W-S2ZJBtT0EV09ZbFXEBBFJMyBoOYTWNuYR7ZLVTviY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 705350307,
          "mode": "list",
          "cachedResultName": "Studio_Legale_Pasian_Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W-S2ZJBtT0EV09ZbFXEBBFJMyBoOYTWNuYR7ZLVTviY/edit#gid=705350307"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1984,
        1984
      ],
      "id": "ef260b18-a679-45c8-b1f9-4dd706bef91b",
      "name": "Get row(s) in sheet",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nconst pending = rows.find(\n  row => row.json.Status === 'Pending'\n);\n\nif (pending) {\n  return [{\n    json: {\n      found: true,\n      ...pending.json\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    found: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        2112
      ],
      "id": "e7dc92d0-4db8-472e-afd7-9e8b14008b88",
      "name": "Find Pending"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "10a45e2f-7d2d-4aab-88fb-e84513c9b1a7",
              "leftValue": "={{$json.found}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1600,
        2192
      ],
      "id": "5ceda8a0-5264-4a81-88a6-5327bac605c9",
      "name": "IF Pending Found?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs",
          "mode": "list",
          "cachedResultName": "Keyword Pool-Mike",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1424,
        2368
      ],
      "id": "604eaf56-8788-4bbc-ae6b-2116e8a3c53c",
      "name": "Get row(s) in sheet1",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nreturn rows.filter(\n  row => row.json.Status === 'Posted'\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        2592
      ],
      "id": "ab91042b-2e41-4f09-a8ae-035dd25c9864",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs",
          "mode": "list",
          "cachedResultName": "Keyword Pool-Mike",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kq6VwjzndKwpPpgJCTPox8FxnW2TpYzuGInDL0yoQZs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status": "Pending"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_used_date",
              "displayName": "last_used_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1040,
        2768
      ],
      "id": "f4b9e619-4dff-487c-9325-0402f607eed4",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "sendTo": "anukulchandra5585@gmail.com",
        "subject": "=⚠️ SEO Automation ERRORE - SEOZoom non raggiungibile",
        "message": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -96,
        3088
      ],
      "id": "fc800e18-0cd3-446d-8d4f-6d8de6e1c6cf",
      "name": "Notify Admin - SEOZoom Failure1",
      "webhookId": "8e8c8283-bb7d-4fe6-bb86-8d90eae91401"
    },
    {
      "parameters": {
        "sendTo": "anukulchandra5585@gmail.com",
        "subject": "=⚠️ SEO Automation ERRORE - Generazione articolo fallita",
        "message": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1680,
        3728
      ],
      "id": "519acd60-74d2-4b5a-a3ca-0017aba18f8e",
      "name": "Notify Admin - OpenAI Failure1",
      "webhookId": "fa9de6ad-6fe7-4515-816a-64432e4d9fdf"
    },
    {
      "parameters": {
        "sendTo": "anukulchandra5585@gmail.com",
        "subject": "=⚠️ SEO Automation ERRORE - Bozza WordPress non creata",
        "message": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4784,
        5600
      ],
      "id": "2026f6ba-e24f-41e2-8d48-5aeef0c312bf",
      "name": "Notify Admin - WP Draft Failure1",
      "webhookId": "5dd34fa0-3c48-4727-9864-2e26b5f5cfe7"
    },
    {
      "parameters": {
        "sendTo": "anukulchandra5585@gmail.com",
        "subject": "=✅ Nuova Bozza SEO Pronta - {{$json.article_title}}",
        "message": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5552,
        5840
      ],
      "id": "6725a2cd-38a3-4556-8f0c-1a9e38f68cf7",
      "name": "Send Success Notification",
      "webhookId": "e6c8f74c-71c1-4f9d-a80f-09b17b20d4b1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1dbdf7b7-0fe7-40ca-a0d4-8f47683b631e",
              "name": "text",
              "value": "=\n{{$json.text.replace(/\\\\n/g, '\\n')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        3168
      ],
      "id": "cd2f9d09-7a24-444a-aacd-4ab8cd075266",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger 08:00 Rome": {
      "main": [
        [
          {
            "node": "Workflow Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Config": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEOZoom OK?": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error - SEOZoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error - SEOZoom": {
      "main": [
        [
          {
            "node": "Notify Admin - SEOZoom Failure1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WordPress - Get Existing Posts": {
      "main": [
        [
          {
            "node": "Prepare Internal Links Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Internal Links Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Internal Links Context": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Article OK?": {
      "main": [
        [
          {
            "node": "Parse & Validate Article",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error - OpenAI Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error - OpenAI Article": {
      "main": [
        [
          {
            "node": "Notify Admin - OpenAI Failure1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Article": {
      "main": [
        [
          {
            "node": "OpenAI - AI Quality Review1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process QA Review Result": {
      "main": [
        [
          {
            "node": "Append Disclaimer + Build Final Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Disclaimer + Build Final Content": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generated OK?": {
      "main": [
        [
          {
            "node": "WordPress - Upload Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Image ID - No Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WordPress - Upload Image": {
      "main": [
        [
          {
            "node": "Set Image ID - Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Image ID - No Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image ID - Success": {
      "main": [
        [
          {
            "node": "Build WordPress Post Body1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image ID - No Image": {
      "main": [
        [
          {
            "node": "Log Warning - No Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Warning - No Image": {
      "main": [
        [
          {
            "node": "Build WordPress Post Body1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WordPress - Create Draft": {
      "main": [
        [
          {
            "node": "Draft Created OK?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft Created OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Created OK?": {
      "main": [
        [
          {
            "node": "Extract Draft Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error - WordPress Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error - WordPress Draft": {
      "main": [
        [
          {
            "node": "Notify Admin - WP Draft Failure1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Draft Details": {
      "main": [
        [
          {
            "node": "Sheets - Log Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Log Draft": {
      "main": [
        [
          {
            "node": "Sheets - Log Used Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Log Used Keyword": {
      "main": [
        [
          {
            "node": "Sheets - Log Article History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Log Article History": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Best Legal Keyword1": {
      "main": [
        [
          {
            "node": "WordPress - Get Existing Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build WordPress Post Body1": {
      "main": [
        [
          {
            "node": "WordPress - Create Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEOZoom - Fetch Keyword Metrics": {
      "main": [
        [
          {
            "node": "SEOZoom OK?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEOZoom OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Select Best Legal Keyword1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "OpenAI Article OK?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI - AI Quality Review1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - AI Quality Review1": {
      "main": [
        [
          {
            "node": "Process QA Review Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Image Generated OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Find Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Pending": {
      "main": [
        [
          {
            "node": "IF Pending Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Pending Found?": {
      "main": [
        [
          {
            "node": "SEOZoom - Fetch Keyword Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin - SEOZoom Failure1": {
      "main": [
        []
      ]
    },
    "Send Success Notification": {
      "main": [
        [
          {
            "node": "Workflow Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "223b86cd-836e-4d48-b958-181735a01bce",
  "meta": {},
  "nodeGroups": [],
  "id": "HgNjZhzvzKDb7Ths",
  "tags": []
}